html * {
    font-family: 'Open Sans', sans-serif !important;
}

a {
    text-decoration: none;
}

body {
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    background-color: white;
    padding-bottom: 3rem;
}

.centering {
    text-align: center;
}

.moviesimg {
    background-image: url(../assets/movieBanner3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 1rem
}

.filesimg {
    background-image: url(../assets/files.jpg);
    background-size: 33.5%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 1rem
}

.title {
    color: white;
    text-shadow: 1.5px 0 0 #000, 0 -1.5px 0 #000, 0 1.5px 0 #000, -1.5px 0 0 #000;
    font-size: 5vw;
    left: 50%;
    margin: 0;
    top: 50%;
}

#files {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

.card {
    max-width: 10rem;
    margin: 0.5rem;
    text-align: center;
    align-content: center;
}

.card:hover {
    cursor: pointer;
}

.card div {}

.card div div {
    max-width: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card div div img {
    max-width: 100%;
}

.card div p {
    font-size: small;
    text-align: center;
}